body{
  margin: 0 auto;
  width: 80%;
}

nav{
  background: darkgray;
  width: 100%;
  height: 44px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 44px;
}
nav ul li{
  margin: 0px 10px;
  float: left;
}

section{
  width: 100%;
  height: 100px;
  margin: 10px 0px;
  line-height: 24px;
}
footer{
  margin-top: 50px;
  background: coral;
  width: 100%;
  height: 50px;
}
